.glo{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: darkcyan;
    width: 60%;
    border-radius: 10 px;
    color: white;
}

.gl{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: darkcyan;
    width: 60%;
    border-radius: 10 px;
    color: white;
}

.g{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: darkcyan;
    width: 60%;
    border-radius: 10 px;
    color: white;
}

.tit{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: white;
    width: 60%;
    border-radius: 10 px;
    color: #ee3e80;
}

.ti{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: white;
    width: 60%;
    border-radius: 10 px;
    color: #ee3e80;
}

.t{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: white;
    width: 60%;
    border-radius: 10 px;
    color: #ee3e80;
}

.f{
    border:blue rgb(22, 2, 2);
    color: with;
    background-color: #ee3e80;
    width: 60%;
    border-radius: 10 px;
    color: black;
}